body {
  background: #eee;
}

.container {
  width: 800px;
  margin: 0 auto;
}
.toc {
	background: white;
	float: left;
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
}
.blog-post {
	float: left;
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}
.profile {
	background: white;
	float: left;
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
}
